
/* GENERAL */
*{
	box-sizing: border-box;
	margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}


/* HEADER */
header{
    background-color: rgb(0, 0, 0);
}
#scroll-line{
    background-color: rgb(0, 0, 0);
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
	height: 8px;
	position: fixed;
	top: 0;
    left: 0;
    z-index: 9999;
}
.navbar{
    padding: 10px 20px;
}
.navbar-toggle{
    width: 40px;
    height: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.navbar-toggle-icon,.navbar-toggle-icon:before,.navbar-toggle-icon:after{
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    position: relative;
    content: "";
}
.navbar-toggle-icon:before{
    top: 10px;
}
.navbar-toggle-icon:after{
    top: -14px;
}
.header-menu{
    transform: translateY(0);
    text-transform: uppercase;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.header-menu-link{
    display: none;
}   
.is-open{
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0 0 0.5em;
    position: relative;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.is-open .header-menu-link{
    display: block;
    padding: 10px;
    font-size: 1.3em;
    color: white;
    text-decoration: none;
}  
.is-open .header-menu-link:hover{
    font-weight: bold;
}


/* MAIN */
main section{
    padding: 4em 0;
}
main section:nth-child(odd){
    background-color:rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
main section h2{
    margin-bottom: 0.5em;
}
main section h2:before{
    content:"- "
}


/* HOME */
#home{
    text-align: justify;
}
#home h3{
    margin-bottom: 1em;
}
#home h4{
    margin-bottom: 1.5em;
}
#home span{
    font-weight: bold;
}
#home div p:nth-child(3), #home div p:nth-child(4){
    text-indent: 2em;
}
#home div p:nth-child(3){
    margin-bottom: 2em;
}
#home div a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}
#home div a:visited{
    color: rgb(255, 255, 255);
}
#home div blockquote{
    width: 90%;
    margin: 4em auto 0;
    text-align: center;
}
#home div blockquote p{
    font-style: italic;
}
#home div blockquote figcaption{
    text-align: right;
    margin-right: 2em;
}
#home div blockquote i:first-of-type{
    margin-right: 0.5em;
}
#home div blockquote i:last-of-type{
    margin-left: 0.5em;
}
#home .illustration_desktop{
    display: none;
}
#home .arrow{
    display: none;
}

/* SKILLS */
.skills1-1{
    display: flex;
    flex-direction: column;
}
.skills1-1 h3{
    margin: auto;
    font-style: italic;
}
.web_skills{
    margin-bottom: 2em;
}
.web_skills, .soft_skills{    
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0);    
    padding: 1em;
}
.skills1-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;   
    margin: 1.5em 0;
}
.skills1-2 div{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
}
.skills1-2 img{
    height: 110px;
    margin: 0.5em 0;
}
.soft_skills h3{
    margin: auto;
}
.soft_skills_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.soft_skills_list p{
    margin: 1.2em;
}


/* PROJECTS */
.school_project, .personnal_project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;    
    margin-top: 1em;
}
.school_project .project, .personnal_project .project{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1em;
}
.school_project h3, .personnal_project h3{
    margin-bottom: 1.5em;
}
.school_project img, .personnal_project img{
    max-width: 70%;
    margin: auto;
}
.school_project .project .project-txt, .personnal_project .project .project-txt{
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;

}
.school_project .project .project-txt p, .personnal_project .project .project-txt p{
    margin-bottom: 0.5em;    
}
.school_project .project .project-txt .code_source, .personnal_project .project .project-txt .code_source{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.school_project a, .personnal_project a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    margin: 1em 0;
}
.school_project a:visited, .personnal_project a:visited{
    color: rgb(255, 255, 255);
}
.personnal_project{
    border-top: 1px solid rgb(255, 255, 255);
    padding-top: 1.5em;
}
.techno{
    margin: 1.5em 0;
}
#projects .code_source{
    text-indent: 0;
    margin-top: 1em;
}
#projects .code_source p{
    margin-bottom: 0;
}
#projects .code_source i{
    font-size: 1.5em;
}

/* ABOUT */
#about div .profil_photo{
    width: 40%;
    margin: 1em auto;
}
#about div .profil_photo img{
    width: 100%;
}
#about p{
    margin-bottom: 0.5em;
    text-indent: 2em;
    text-align: justify;
    line-height: 1.5em;
}


/* CONTACT */
#contact h3{
    margin-bottom: 1em;
}
#contact h4{
    margin-bottom: 1.5em;
}
.contact_informations, .follow_informations{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact_informations a, .follow_informations a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    line-height: 1.5em;
}
.contact_informations a:visited, .follow_informations a:visited{
    color: rgb(255, 255, 255);
}
.follow_informations a{
    margin: 1em;
}
.contact_informations{
    margin-bottom: 2.5em;
}
.follow_informations i{
    font-size: 2em;
}
.social_network{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact_informations a:not(:last-child), .social_network:not(:last-child){
    margin-bottom: 1em;
}


/* FOOTER */
footer{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1.5em;
    border-top: 1px solid rgb(255, 255, 255);
}


/* RESPONSIVE DESIGN TABLET */
@media screen and (min-width:768px){
    .follow_informations{
        flex-direction: row;
        justify-content: space-around;
    }
}

/* RESPONSIVE DESIGN DESKTOP */
@media screen and (min-width:1024px){
    /* HEADER */
    .header-menu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        height: 100vh;
        width: 5%;
        border-right: 1px solid rgb(255, 255, 255);
        padding: 1em;
    }
    .header-menu a{
        display: block;
        padding: 20px;
        font-size: 1em;
        color: white;
        text-decoration: none;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }
    .header-menu a:hover{
        color: rgb(0, 0, 0);
        font-weight: bold;
        background-color: rgb(255, 255, 255);
    }
    .navbar{
        display: none;
    }
    .navbar-toggle{
        display: none;
    }
    /* MAIN */
    main{
        width: 95%;
        position: relative;
        top: 0;
        left: 5%;
    }
    /* HOME */
    #home{
        height: 100vh;
        padding-top: 150px;
    }
    #home div div.illustration_desktop{
        display: block;
        width: 350px;
        height: 400px;
        background-image:url('../img/desktop-illustration.jpg');
        border: 15px solid rgb(255, 255, 255);
        margin-left: 320px;
    }
    #home .home_content{
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        width: 680px;
        padding: 1.5em;
        position: relative;
        bottom: 310px;
        left: 35%;
        font-size: 1.1em;
    }
    #home div blockquote{
        position: relative;
        top: -180px;
        font-size: 1.1em;
        margin: 0 auto;
    }
    #home div blockquote figcaption{
        margin-top: 1em;
        margin-right: 10em;
        font-size: 1.1em;
    }
    #home .home_content a{
        color: rgb(0, 0, 0);
    }
    #home .arrow{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 4em;
    }
    /* SKILLS */
    .soft_skills_list p{
        font-size: 1.1em;
    }
    /* PROJECT */
    #projects p{
        font-size: 1.1em;
    }
    /* .school_project img, .personnal_project img{
        width: 50%;
        margin: auto;
    } */
    .school_project img, .personnal_project img{
        max-width: 50%;
        transition: all 0.25s;
    }
    .school_project img:hover, .personnal_project img:hover{
        transform: scale(1.1);
    }
    .school_project .project .project-txt, .personnal_project .project .project-txt {
        line-height: 1.5em;
        width: 100%;
    }
	.personnal_project .techno{
        text-align: center;
        text-indent: 0;
    }
	
	
    #projects .code_source a{
        font-size: 1.6em;
        transition: all 0.15s;
    }
    #projects .code_source a:hover{
        transform: scale(1.4);
    }
    /**/

    /* ABOUT */
    #about p{
        font-size: 1.1em;
    }
    #about div .profil_photo{
        width: 20%;
        margin: 1em auto;
    }
    /* CONTACT */
    #contact h3{
        font-size: 1.4em;
        text-align: center;
    }
    #contact h4{
        font-size: 1.2em;
        text-align: center;
    }
    #contact a{
        font-size: 1.2em;
    }
    #contact div .follow_informations .social_network{
        margin: 15px;
        padding: 25px;
        border: 0;
        background: transparent;
        position: relative;
        transition: all 0.2s;
    }
    #contact div .follow_informations .social_network:before, #contact div .follow_informations .social_network:after{
        border: 2px solid rgb(255, 255, 255);
        content:"";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        bottom: 0px;
        transition: all .2s;
    }
    #contact div .follow_informations .social_network:hover:before{
        transform: translate(8px, 8px);
    }
    #contact div .follow_informations .social_network:hover:after{
        transform: translate(-8px, -8px);
    }
    /* FOOTER */
    footer{
        font-size: 1.1em;
        width: 95%;
        position: relative;
        top: 0;
        left: 5%;
    }
}
